@import '/src/styles/base';

.button {
  @include row;
  align-items: center;

  border: none;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  svg {
    height: inherit;
    width: inherit;
  }

  @include themed-styles {
    fill: themed-color(text-high-contrast);
    background-color: themed-color(background);

    &:hover {
      fill: themed-color(text-low-contrast);
      background-color: rgba(themed-color(text-body), 0.1);
      cursor: pointer;
    }
  }
}
