@import 'base';

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/ProductSans-Regular.ttf') format('trueType');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/ProductSans-Medium.ttf') format('trueType');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('/fonts/ProductSans-Thin.ttf') format('trueType');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, arial, sans-serif;
  height: 100%;
}

body {
  & > div,
  & > div > div,
  & > div > div > div {
    height: inherit;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

.root {
  @include col;

  height: auto;
  min-height: 100vh;
  flex: 1;

  @include themed-styles {
    background-color: themed-color(background);
    color: themed-color(text-body);
  }
}
