.footer {
  width: 100%;
  text-align: center;
  line-height: 7px;
  background-color: #f2f2f2;
  margin-top: auto;
  font-size: 14px;
}

@media only screen and (max-width: 400px) {
  .footer {
    font-size: 12px;
  }
}